<footer id="contact">
  <!-- <section class="content">
    <div class="w-50">
      <h3>Contactame</h3>
      <p>
        Si tiene alguna consulta, complete el formulario que se encuentra a
        continuación y envíelo. Una vez que se haya enviado, me contactaré lo
        más rápido posible.
      </p>
    </div>
    <form>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" />

      <label for="email">Email</label>
      <input type="email" id="email" />

      <label for="msj">Mensaje</label>
      <textarea id="msj" rows="10"></textarea>
      <input type="submit" value="Enviar" />
    </form>
  </section> -->
  <section class="copy"><p>Copyright &copy; 2023 - Hernán Sanchez</p></section>
</footer>
