<footer>
  <section class="content">
    <div class="w-50">
      <h3>Contactame</h3>
      <p>
        si tiene alguna pregunta o consulta, llámeme o complete el formulario a
        la derecha y marque haga clic en enviar. una vez que se haya enviado el
        formulario, me contactare lo más rapido posible
      </p>
    </div>
    <form>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" />

      <label for="email">Email</label>
      <input type="email" id="email" />

      <label for="msj">Mensaje</label>
      <textarea id="msj" rows="10"></textarea>
      <input type="submit" value="Enviar" />
    </form>
  </section>
  <section class="copy"><p>Copyright &copy; 2023 - Hernán Sanchez</p></section>
</footer>
