<h3 id="aboutMe">Sobre mi</h3>
<section class="container" *ngIf="perfil">
  <article class="container-descripcion">
    <div class="header">
      <h5>Titulo</h5>
    </div>
    <div class="body">
      <p>
        {{ perfil.descripcion }}
      </p>
      <div class="media">
        <ul>
          <li>
            <a [href]="'https://github.com/Hernan-99'" target="_blank"
              >GitHub</a
            >
          </li>
          <li>
            <a
              [href]="'https://www.linkedin.com/in/sanchez-hernan-gabriel/'"
              target="_blank"
              >Linkedin</a
            >
          </li>
        </ul>
        <a
          class="btn-cv"
          href="../../../../assets/cv/Hernan_Sanchez_CV.pdf"
          download
        >
          Descargar cv
        </a>
      </div>
    </div>
  </article>

  <article class="container-img">
    <img [src]="perfil.img_perfil" alt="foto" />
  </article>
</section>
